<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
</head>

<body>
<form id="form1" name="form1" method="post" action="">
  <table width="735" border="1">
      <tr>
      <td width="200" height="50"><a href="/myapp/insti_profile">Profile</a></td>
    </tr>
    <tr>
      <td width="200" height="50"><a href="/myapp/insti_add_course">Add Course</a></td>
    </tr>
      <tr>
      <td width="200" height="50"><a href="/myapp/view_course">Add Course</a></td>
    </tr>
    <tr>
      <td width="200" height="50"><a href="/myapp/insti_add_batch">Add Batch</a></td>
    </tr>
    <tr>
      <td width="200" height="50"><a href="/myapp/inst_gallery">Gallery Management</a></td>
    </tr>
    <tr>
      <td width="200" height="50"><a href="/myapp/instituion_new_request">View New Request</a></td>
    </tr>
    <tr>
      <td width="200" height="50"><a href="/myapp/insti_accptd_req">View Accepted Students</a></td>
    </tr>
    <tr>
      <td width="200" height="50"><a href="/myapp/insti_rejctd_req">View Rejected Students</a></td>
    </tr>
    <tr>
      <td width="200" height="50"><a href="/myapp/insti_view_complaint">View Complaints</a></td>
    </tr>
    <tr>
      <td width="200" height="50"><a href="/myapp/insti_sent_reply">Sent Reply</a></td>
    </tr>
    <tr>
      <td width="200" height="50"><a href="/myapp/insti_review">View Reviews</a></td>
    </tr>
    <tr>
      <td width="200" height="50"><a href="/myapp/insti_changepswrd">Change Password</a></td>
    </tr>
  </table>
</form>
</body>
</html>
