{% extends "INSTITUTE/insti_index.html" %}
{% block body %}
<body>
<form id="form1" name="form1" method="post" action="">
  <table class="table-bordered table-hover table-striped">
    <tr class="bg-dark">
      <td width="51" height="26">Sl_No</td>
{#      <td width="123">Name</td>#}
{#      <td width="123">House Name</td>#}
{#      <td width="123">email</td>#}
{#      <td width="123">City</td>#}
{#      <td width="123">District</td>#}
{#      <td width="123">Phone</td>#}
{#      <td width="123">Request</td>#}
        <td width="123">Date</td>
        <td width="123">USer Info</td>
{#        <td width="123">Status</td>#}
    </tr>
      {% for i in data %}
    <tr>
    <td>{{ forloop.counter }}</td>
{#      <td>{{ i.STUDENT.name }}</td>#}
{#      <td>{{ i.STUDENT.house_name }}</td>#}
{#      <td>{{ i.STUDENT.email }}</td>#}
{#      <td>{{ i.STUDENT.city }}</td>#}
{#      <td>{{ i.STUDENT.district }}</td>#}
{#      <td>{{ i.STUDENT.pin }}</td>#}
{#      <td>{{ i.STUDENT.phone }}</td>#}
{#        <td>{{ i.requ  }}</td>#}
        <td>{{ i.date  }}</td>
        <td>{{ i.USER.name  }}<br>
        {{ i.USER.email }}</td>
{#        <td>{{ i.status  }}</td>#}
      <td><a href="#">ADD TO BATCH</a></td>
    </tr>
      {% endfor %}
  </table>
</form>
</body>
{% endblock %}
