{% extends "SHOP/shop_index.html" %}
{% block body %}

<body>
<form id="form1" name="form1" method="post" action="/myapp/shop_addinstrument_post/" enctype="multipart/form-data">
    {% csrf_token %}
  <table class="table-bordered table-hover table-striped">
{#      <tr>#}
{#          <td>Category Name</td>#}
{#          <td><select name="select" class="form-control">#}
{#              {% for i in data %}#}
{#              <option value="{{ i.id }}">{{ i.category_name }}</option>#}
{#              {% endfor %}#}
{#          </select></td>#}
{#      </tr>#}
    <tr>
      <td width="92">Name</td>
      <td width="664"><label for="instru_name"></label>
      <input type="text" name="instru_name" id="instru_name" class="form-control"/></td>
    </tr>

    <tr>
      <td>Image</td>
      <td><input type="file" name="instruimage" id="instruimage" class="form-control"/></td>
    </tr>
    <tr>
      <td>Description</td>
      <td><label for="description"></label>
      <textarea name="description" id="description" cols="45" rows="5" class="form-control"></textarea></td>
    </tr>
    <tr>
      <td>Prize</td>
      <td><label for="prize"></label>
      <input type="text" name="prize" id="prize"class="form-control" /></td>
    </tr>
    <tr>
      <td><input type="submit" name="add" id="add" value="ADD
      "class="btn btn-success" /></td>
    </tr>
    <tr>
      <td><a href="/myapp/shop_viewinstrument/" class="btn btn-info">VIEW</a></td>
    </tr>
  </table>
</form>
</body>
{% endblock %}
