<!--
author: W3layouts
author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE html>
<html lang="en">
<head>
<title>LivingArt</title>
<!-- custom-theme -->
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="Symphony Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, 
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false);
		function hideURLbar(){ window.scrollTo(0,1); } </script>
<!-- //custom-theme -->
<link href="/static/home/css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
<link href="/static/home/css/style.css" rel="stylesheet" type="text/css" media="all" />
<!-- js -->
<script type="text/javascript" src="/static/home/js/jquery-2.1.4.min.js"></script>
<!-- //js -->
<!-- font-awesome-icons -->
<link href="/static/home/css/font-awesome.css" rel="stylesheet">
<!-- //font-awesome-icons -->
<link href="//fonts.googleapis.com/css?family=Sofia" rel="stylesheet">
<link href="//fonts.googleapis.com/css?family=Prompt:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&amp;subset=latin-ext,thai,vietnamese" rel="stylesheet"></head>
	
<body>
<!-- banner -->
	<div class="banner">
		<div class="container">
			<nav class="navbar navbar-default">
				<div class="navbar-header navbar-left">
					<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<h1><a class="navbar-brand" href="index.html">Sym<span>phony</span></a></h1>
				</div>
				<!-- Collect the nav links, forms, and other content for toggling -->
				<div class="collapse navbar-collapse navbar-right" id="bs-example-navbar-collapse-1">
					<nav class="menu menu--iris">
						<ul class="nav navbar-nav menu__list">
{#							<li class="menu__item menu__item--current"><a href="/myapp/home/#about" class="menu__link">Home</a></li>#}
{#							<li class="menu__item"><a href="music.html" class="menu__link">Music</a></li>#}
{#							<li class="menu__item"><a href="gallery.html" class="menu__link">Gallery</a></li>#}
                                                        <li class="menu__item"><a href="/myapp/profile/#about" class="page-scroll">Profile</a></li>


                            <li class="dropdown menu__item">
								<a href="#" class="dropdown-toggle menu__link" data-toggle="dropdown">Category <b class="caret"></b></a>
								<ul class="dropdown-menu agile_short_dropdown">
									<li><a href="/myapp/instru_cat/#about" class="page-scroll">Add Category</a></li>
									<li><a href="/myapp/shop_view_category/#about" class="page-scroll">View Category </a></li>
{#                                    <li><a href="/myapp/view_rejected_institutes/#about" class="page-scroll">Rejected Institutes</a></li>#}
								</ul>
							</li>
							<li class="dropdown menu__item">
								<a href="#" class="dropdown-toggle menu__link" data-toggle="dropdown">Instrument <b class="caret"></b></a>
								<ul class="dropdown-menu agile_short_dropdown">
									<li><a href="/myapp/add_instruments/#about" class="page-scroll">Add </a></li>
									<li><a href="/myapp/shop_viewinstrument/#about" class="page-scroll"> View</a></li>
                                    <li><a href="/myapp/shop_viewInstrureust/#about" class="page-scroll">View Request</a></li>
                                    <li><a href="/myapp/shop_viewconfrmInstrureust/#about" class="page-scroll">View Confirmed Request</a></li>
                                    <li><a href="/myapp/shop_viewrejctdInstrurqust/#about" class="page-scroll">View Rejected Request</a></li>
                                    <li><a href="/myapp/view_instrupayment/#about" class="page-scroll"> View Instrument Payment</a></li>
								</ul>
							</li>


                            <li class="dropdown menu__item">
								<a href="#" class="dropdown-toggle menu__link" data-toggle="dropdown">Material <b class="caret"></b></a>
								<ul class="dropdown-menu agile_short_dropdown">
									<li><a href="/myapp/add_materials/#about" class="page-scroll">Add </a></li>
									<li><a href="/myapp/shop_view_material/#about" class="page-scroll"> View</a></li>
                                    <li><a href="/myapp/shop_viewMatreust/#about" class="page-scroll">View Request</a></li>
                                    <li><a href="/myapp/shop_viewconfrmMatreust/#about" class="page-scroll">View Confirmed Request</a></li>
                                    <li><a href="/myapp/shop_viewrejctdMatreust/#about" class="page-scroll">View Rejected Request</a></li>
                                    <li><a href="/myapp/view_matpayment/#about" class="page-scroll">View Material Payment</a></li>
								</ul>
							</li>

                            <li class="dropdown menu__item">
								<a href="#" class="dropdown-toggle menu__link" data-toggle="dropdown">Gallery <b class="caret"></b></a>
								<ul class="dropdown-menu agile_short_dropdown">
									<li><a href="/myapp/gallery/#about" class="page-scroll">Add Gallery</a></li>
									<li><a href="/myapp/shop_view_gallery/#about" class="page-scroll">View Gallery </a></li>
{#                                    <li><a href="/myapp/view_rejected_institutes/#about" class="page-scroll">Rejected Institutes</a></li>#}
								</ul>
							</li>

                            <li class="dropdown menu__item">
								<a href="#" class="dropdown-toggle menu__link" data-toggle="dropdown">Others <b class="caret"></b></a>
								<ul class="dropdown-menu agile_short_dropdown">
									<li><a href="/myapp/complaint/#about" class="page-scroll">Sent Complaint </a></li>
									<li><a href="/myapp/shop_view_reply/#about" class="page-scroll"> View Reply</a></li>
									<li><a href="/myapp/shop_review/#about" class="page-scroll"> View Review</a></li>
                                    <li><a href="/myapp/login/" class="page-scroll">Logout</a></li>
{#                                    <li><a href="/myapp/shop_viewconfrmMatreust/#about" class="page-scroll">View Confirmed Request</a></li>#}
{#                                    <li><a href="/myapp/shop_viewrejctdMatreust/#about" class="page-scroll">View Rejected Request</a></li>#}
								</ul>
							</li>


{#                            <li class="menu__item"><a href="mail.html" class="menu__link">Mail Us</a></li>#}
{#                            <li class="menu__item"><a href="/myapp/change_pswrd/#about" class=" page-scroll">Change Password</a></li>#}
{#                            <li class="menu__item"><a href="/myapp/view_reviews/#about" class="page-scroll">Reviews</a></li>#}
{#                            <li class="menu__item"><a href="/myapp/view_regusers/#about" class="page-scroll">Users</a></li>#}
						</ul>
					</nav>
				</div>
			</nav>
			<div class="agile_banner_info">
{#				<h3>music</h3>#}
			</div>
		</div>
	</div>
<!-- //banner -->	
<!-- banner-bottom -->
{#	<div class="banner-bottom">#}
{#		<div class="col-md-3 wthree_banner_bottom_grid">#}
{#			<div class="wthree_banner_bottom_grid1">#}
{#				<img src="/static/home/images/1.jpg" alt=" " class="img-responsive" />#}
{#				<div class="wthree_banner_bottom_grid_pos">#}
{#					<h4>Peter Parker / <span>DJ</span></h4>#}
{#				</div>#}
{#			</div>#}
{#			<div class="w3layouts_banner_bottom_grid">#}
{#				<h3>Rock Music</h3>#}
{#			</div>#}
{#		</div>#}
{#		<div class="col-md-3 agileits_w3layouts_banner_bottom_grid">#}
{#			<div class="hovereffect">#}
{#				<img src="/static/home/images/2.jpg" alt=" " class="img-responsive" />#}
{#				<div class="overlay">#}
{#					<h3 class="w3_instruments">Music Instruments</h3>#}
{#					<div class="rotate">#}
{#						<p class="group1">#}
{#							<a href="#">#}
{#								<i class="fa fa-twitter"></i>#}
{#							</a>#}
{#							<a href="#">#}
{#								<i class="fa fa-facebook"></i>#}
{#							</a>#}
{#						</p>#}
{#							<hr>#}
{#							<hr>#}
{#						<p class="group2">#}
{#							<a href="#">#}
{#								<i class="fa fa-instagram"></i>#}
{#							</a>#}
{#							<a href="#">#}
{#								<i class="fa fa-dribbble"></i>#}
{#							</a>#}
{#						</p>#}
{#					</div>#}
{#				</div>#}
{#			</div>#}
{#			<div class="agileinfo_banner_bottom_grid">#}
{#				<div class="agileits_banner_bottom_grid1">#}
{#					<h4 class="w3ls_color">Symphony</h4>#}
{#					<h3>Viking Music</h3>#}
{#					<p>Praesent suscipit nunc vel orci dictum pretium. Donec ullamcorper sagittis turpis.</p>#}
{#				</div>#}
{#			</div>#}
{#		</div>#}
{#		<div class="col-md-3 agileits_w3layouts_banner_bottom_grid">#}
{#			<div class="hovereffect">#}
{#				<img src="/static/home/images/3.jpg" alt=" " class="img-responsive" />#}
{#				<div class="overlay">#}
{#					<h3 class="w3_instruments">Music Instruments</h3>#}
{#					<div class="rotate">#}
{#						<p class="group1">#}
{#							<a href="#">#}
{#								<i class="fa fa-twitter"></i>#}
{#							</a>#}
{#							<a href="#">#}
{#								<i class="fa fa-facebook"></i>#}
{#							</a>#}
{#						</p>#}
{#							<hr>#}
{#							<hr>#}
{#						<p class="group2">#}
{#							<a href="#">#}
{#								<i class="fa fa-instagram"></i>#}
{#							</a>#}
{#							<a href="#">#}
{#								<i class="fa fa-dribbble"></i>#}
{#							</a>#}
{#						</p>#}
{#					</div>#}
{#				</div>#}
{#			</div>#}
{#			<div class="agileinfo_banner_bottom_grid w3l_banner_bottom1">#}
{#				<div class="agileits_banner_bottom_grid1">#}
{#					<h4 class="w3ls_color1">Symphony</h4>#}
{#					<h3>Hormonica Music</h3>#}
{#					<p>Praesent suscipit nunc vel orci dictum pretium. Donec ullamcorper sagittis turpis.</p>#}
{#				</div>#}
{#			</div>#}
{#		</div>#}
{#		<div class="col-md-3 agileits_w3layouts_banner_bottom_grid">#}
{#			<div class="hovereffect">#}
{#				<img src="/static/home/images/4.jpg" alt=" " class="img-responsive" />#}
{#				<div class="overlay">#}
{#					<h3 class="w3_instruments">Music Instruments</h3>#}
{#					<div class="rotate">#}
{#						<p class="group1">#}
{#							<a href="#">#}
{#								<i class="fa fa-twitter"></i>#}
{#							</a>#}
{#							<a href="#">#}
{#								<i class="fa fa-facebook"></i>#}
{#							</a>#}
{#						</p>#}
{#							<hr>#}
{#							<hr>#}
{#						<p class="group2">#}
{#							<a href="#">#}
{#								<i class="fa fa-instagram"></i>#}
{#							</a>#}
{#							<a href="#">#}
{#								<i class="fa fa-dribbble"></i>#}
{#							</a>#}
{#						</p>#}
{#					</div>#}
{#				</div>#}
{#			</div>#}
{#			<div class="agileinfo_banner_bottom_grid w3l_banner_bottom2">#}
{#				<div class="agileits_banner_bottom_grid1">#}
{#					<h4 class="w3ls_color2">Symphony</h4>#}
{#					<h3>Trumpet Playing</h3>#}
{#					<p>Praesent suscipit nunc vel orci dictum pretium. Donec ullamcorper sagittis turpis.</p>#}
{#				</div>#}
{#			</div>#}
{#		</div>#}
{#		<div class="clearfix"></div>#}
{#	</div>#}
<!-- //banner-bottom -->
<!-- about -->
	<div class="about" id="about">

{#		<div class="container">#}

			<div class="col-lg-11">
             {% block body %}

                {% endblock %}

				<div class="clearfix"> </div>


{#            <div id="about">#}

{#            </div>#}
{#			</div>#}
		</div>
	</div>
<!-- //about -->
<!-- features -->
{#	<div class="features">#}
{#		<div class="container">#}
{#			<div class="col-md-6 agile_features_left">#}
{#				<img src="/static/home/images/7.jpg" alt=" " class="img-responsive" />#}
{#			</div>#}
{#			<div class="col-md-6 agile_features_right">#}
{#				<p><a href="mailto:symphony@example.com">Symphony@example.com</a>#}
{#					Sed tempus, ligula eu rhoncus mollis, purus.</p>#}
{#				<h4>Opening Timings</h4>#}
{#				<ul>#}
{#					<li><span>Monday</span>: 10:00 AM - 5:00 PM</li>#}
{#					<li><span>Tuesday</span>: 10:00 AM - 5:00 PM</li>#}
{#					<li><span>Wednesday</span>: 10:00 AM - 5:00 PM</li>#}
{#					<li><span>Saturday</span>: 8:00 AM - 3:00 PM</li>#}
{#					<li><span>Sunday</span>: Closed</li>#}
{#				</ul>#}
{#			</div>#}
{#			<div class="clearfix"> </div>#}
{#		</div>#}
{#	</div>#}
<!-- //features -->
<!-- newsletter -->
{#	<div class="newsletter">#}
{#		<div class="container">#}
{#			<div class="col-md-6 w3_agile_newsletter_left">#}
{#				<p>Subscribe Newsletter</p>#}
{#			</div>#}
{#			<div class="col-md-6 w3_agile_newsletter_right">#}
{#				<form action="#" method="post">#}
{#					<input type="email" name="Email" placeholder="Email..." required="">#}
{#					<input type="submit" value="Send">#}
{#				</form>#}
{#			</div>#}
{#			<div class="clearfix"> </div>#}
{#		</div>#}
{#	</div>#}
<!-- //newsletter -->
<!-- team -->
{#	<div class="team">#}
{#		<div class="col-md-3 agile_team_left">#}
{#			<h3>Our DJ's</h3>#}
{#		</div>#}
{#		<div class="col-md-9 agile_team_grid">#}
{#			<ul id="flexiselDemo1">#}
{#				<li>#}
{#					<div class="hovereffect1 w3ls_banner_bottom_grid">#}
{#						<img src="/static/home/images/7.jpg" alt=" " class="img-responsive" />#}
{#						<div class="overlay">#}
{#							<h4>Robert Ali</h4>#}
{#							<ul class="social_agileinfo">#}
{#								<li><a href="#" class="w3_facebook"><i class="fa fa-facebook"></i></a></li>#}
{#								<li><a href="#" class="w3_twitter"><i class="fa fa-twitter"></i></a></li>#}
{#								<li><a href="#" class="w3_instagram"><i class="fa fa-instagram"></i></a></li>#}
{#								<li><a href="#" class="w3_google"><i class="fa fa-google-plus"></i></a></li>#}
{#							</ul>#}
{#						</div>#}
{#					</div>#}
{#				</li>#}
{#				<li>#}
{#					<div class="hovereffect1 w3ls_banner_bottom_grid">#}
{#						<img src="/static/home/images/10.jpg" alt=" " class="img-responsive" />#}
{#						<div class="overlay">#}
{#							<h4>Laura Thomas</h4>#}
{#							<ul class="social_agileinfo">#}
{#								<li><a href="#" class="w3_facebook"><i class="fa fa-facebook"></i></a></li>#}
{#								<li><a href="#" class="w3_twitter"><i class="fa fa-twitter"></i></a></li>#}
{#								<li><a href="#" class="w3_instagram"><i class="fa fa-instagram"></i></a></li>#}
{#								<li><a href="#" class="w3_google"><i class="fa fa-google-plus"></i></a></li>#}
{#							</ul>#}
{#						</div>#}
{#					</div>#}
{#				</li>#}
{#				<li>#}
{#					<div class="hovereffect1 w3ls_banner_bottom_grid">#}
{#						<img src="/static/home/images/8.jpg" alt=" " class="img-responsive" />#}
{#						<div class="overlay">#}
{#							<h4>Michael Roy</h4>#}
{#							<ul class="social_agileinfo">#}
{#								<li><a href="#" class="w3_facebook"><i class="fa fa-facebook"></i></a></li>#}
{#								<li><a href="#" class="w3_twitter"><i class="fa fa-twitter"></i></a></li>#}
{#								<li><a href="#" class="w3_instagram"><i class="fa fa-instagram"></i></a></li>#}
{#								<li><a href="#" class="w3_google"><i class="fa fa-google-plus"></i></a></li>#}
{#							</ul>#}
{#						</div>#}
{#					</div>#}
{#				</li>#}
{#				<li>#}
{#					<div class="hovereffect1 w3ls_banner_bottom_grid">#}
{#						<img src="/static/home/images/9.jpg" alt=" " class="img-responsive" />#}
{#						<div class="overlay">#}
{#							<h4>Jonathan Carl</h4>#}
{#							<ul class="social_agileinfo">#}
{#								<li><a href="#" class="w3_facebook"><i class="fa fa-facebook"></i></a></li>#}
{#								<li><a href="#" class="w3_twitter"><i class="fa fa-twitter"></i></a></li>#}
{#								<li><a href="#" class="w3_instagram"><i class="fa fa-instagram"></i></a></li>#}
{#								<li><a href="#" class="w3_google"><i class="fa fa-google-plus"></i></a></li>#}
{#							</ul>#}
{#						</div>#}
{#					</div>#}
{#				</li>#}
{#			</ul>#}
{#		</div>#}
{#		<div class="clearfix"></div>#}
{#	</div>#}
<!-- //team -->
<!-- latest-albums -->
	<div class="latest-albums">
		<div class="container">
{#			<h3 class="agileits_w3layouts_head">Our Latest released <span>albums</span></h3>#}
{#			<p class="w3_agileits_para">Quisque faucibus vel leo a luctus.</p>#}
{#			<div class="wthree_latest_albums_grids">#}
{#				<div class="col-md-4 wthree_latest_albums_grid_left">#}
{#					<figure class="effect-julia">#}
{#						<img src="/static/home/images/14.jpg" alt=" " class="img-responsive" />#}
{#						<figcaption>#}
{#							<div class="w3l_banner_figure">#}
{#								<p>Ut ac gravida quam id ornare</p>#}
{#								<p>Nullam imperd scelerisque ullamcorper</p>#}
{#								<p>Praesent pellentesque neque feugiat</p>#}
{#							</div>#}
{#						</figcaption>#}
{#					</figure>#}
{#				</div>#}
{#				<div class="col-md-4 wthree_latest_albums_grid_left">#}
{#					<figure class="effect-julia">#}
{#						<img src="/static/home/images/13.jpg" alt=" " class="img-responsive" />#}
{#						<figcaption>#}
{#							<div class="w3l_banner_figure">#}
{#								<p>Ut ac gravida quam id ornare</p>#}
{#								<p>Nullam imperd scelerisque ullamcorper</p>#}
{#								<p>Praesent pellentesque neque feugiat</p>#}
{#							</div>#}
{#						</figcaption>#}
{#					</figure>#}
{#				</div>#}
{#				<div class="col-md-4 wthree_latest_albums_grid_left">#}
{#					<figure class="effect-julia">#}
{#						<img src="/static/home/images/15.jpg" alt=" " class="img-responsive" />#}
{#						<figcaption>#}
{#							<div class="w3l_banner_figure">#}
{#								<p>Ut ac gravida quam id ornare</p>#}
{#								<p>Nullam imperd scelerisque ullamcorper</p>#}
{#								<p>Praesent pellentesque neque feugiat</p>#}
{#							</div>#}
{#						</figcaption>#}
{#					</figure>#}
{#				</div>#}
{#				<div class="clearfix"> </div>#}
{#			</div>#}
		</div>
	</div>
<!-- //latest-albums -->
<!-- footer -->
	<div class="footer">
{#		<div class="container">#}
{#			<div class="col-md-4 agileinfo_footer_grid">#}
{#				<h3>About Us</h3>#}
{#				<p>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>#}
{#				<div class="agileits_footer_grid_gallery">#}
{#					<div class="agileits_footer_grid_gallery1">#}
{#						<a href="#" data-toggle="modal" data-target="#myModal"><img src="/static/home/images/2.jpg" alt=" " class="img-responsive" /></a>#}
{#					</div>#}
{#					<div class="agileits_footer_grid_gallery1">#}
{#						<a href="#" data-toggle="modal" data-target="#myModal"><img src="/static/home/images/3.jpg" alt=" " class="img-responsive" /></a>#}
{#					</div>#}
{#					<div class="agileits_footer_grid_gallery1">#}
{#						<a href="#" data-toggle="modal" data-target="#myModal"><img src="/static/home/images/4.jpg" alt=" " class="img-responsive" /></a>#}
{#					</div>#}
{#					<div class="agileits_footer_grid_gallery1">#}
{#						<a href="#" data-toggle="modal" data-target="#myModal"><img src="/static/home/images/7.jpg" alt=" " class="img-responsive" /></a>#}
{#					</div>#}
{#					<div class="agileits_footer_grid_gallery1">#}
{#						<a href="#" data-toggle="modal" data-target="#myModal"><img src="/static/home/images/8.jpg" alt=" " class="img-responsive" /></a>#}
{#					</div>#}
{#					<div class="agileits_footer_grid_gallery1">#}
{#						<a href="#" data-toggle="modal" data-target="#myModal"><img src="/static/home/images/9.jpg" alt=" " class="img-responsive" /></a>#}
{#					</div>#}
{#					<div class="clearfix"> </div>#}
{#				</div>#}
{#			</div>#}
{#			<div class="col-md-4 agileinfo_footer_grid">#}
{#				<h3>Twitter Posts</h3>#}
{#				<ul class="w3agile_footer_grid_list">#}
{#					<li>Ut aut reiciendis voluptatibus maiores <a href="#">http://symphony@example.com</a> alias, ut aut reiciendis.#}
{#						<span><i class="fa fa-twitter" aria-hidden="true"></i>02 days ago</span></li>#}
{#					<li>Itaque earum rerum hic tenetur a sapiente delectus <a href="#">http://symphony@example1.com</a> ut aut#}
{#						voluptatibus.<span><i class="fa fa-twitter" aria-hidden="true"></i>03 days ago</span></li>#}
{#				</ul>#}
{#			</div>#}
{#			<div class="col-md-4 agileinfo_footer_grid">#}
{#				<h3>Social Media</h3>#}
{#				<ul class="agileinfo_social_icons">#}
{#					<li><a href="#" class="facebook"><span class="fa fa-facebook" aria-hidden="true"></span><i>-</i>Facebook</a></li>#}
{#					<li><a href="#" class="twitter"><span class="fa fa-twitter" aria-hidden="true"></span><i>-</i>Twitter</a></li>#}
{#					<li><a href="#" class="google"><span class="fa fa-google-plus" aria-hidden="true"></span><i>-</i>Google+</a></li>#}
{#					<li><a href="#" class="instagram"><span class="fa fa-instagram" aria-hidden="true"></span><i>-</i>Instagram</a></li>#}
{#				</ul>#}
{#			</div>#}
{#		</div>#}
	</div>
<!-- //footer -->
<!-- copy-right -->
	<div class="w3agile_copy_right">
		<div class="container">
			 <p>© 2017 Symphony. All Rights Reserved | Design by <a href="https://w3layouts.com/">W3layouts</a></p>
		</div>
	</div>
<!-- //copy-right -->
<!-- bootstrap-pop-up -->
	<div class="modal video-modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModal">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					Symphony
					<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>						
				</div>
				<section>
					<div class="modal-body">
						<div class="col-md-6 w3_modal_body_left">
							<img src="/static/home/images/15.jpg" alt=" " class="img-responsive" />
						</div>
						<div class="col-md-6 w3_modal_body_right">
							<h4>Suspendisse et sapien ac diam suscipit posuere</h4>
							<p>Ut enim ad minima veniam, quis nostrum 
							exercitationem ullam corporis suscipit laboriosam, 
							nisi ut aliquid ex ea commodi consequatur? Quis autem 
							vel eum iure reprehenderit qui in ea voluptate velit 
							esse quam nihil molestiae consequatur.
							<i>" Quis autem vel eum iure reprehenderit qui in ea voluptate velit 
								esse quam nihil molestiae consequatur.</i>
								Fusce in ex eget ligula tempor placerat. Aliquam laoreet mi id felis commodo 
								interdum. Integer sollicitudin risus sed risus rutrum 
								elementum ac ac purus.</p>
						</div>
						<div class="clearfix"> </div>
					</div>
				</section>
			</div>
		</div>
	</div>
<!-- //bootstrap-pop-up -->
<!-- flexisel -->
	<script type="text/javascript">
			$(window).load(function() {
				$("#flexiselDemo1").flexisel({
					visibleItems: 3,
					animationSpeed: 1000,
					autoPlay: false,
					autoPlaySpeed: 3000,    		
					pauseOnHover: true,
					enableResponsiveBreakpoints: true,
					responsiveBreakpoints: { 
						portrait: { 
							changePoint:480,
							visibleItems: 1
						}, 
						landscape: { 
							changePoint:640,
							visibleItems:2
						},
						tablet: { 
							changePoint:768,
							visibleItems: 2
						}
					}
				});
				
			});
	</script>
	<script type="text/javascript" src="/static/home/js/jquery.flexisel.js"></script>
<!-- //flexisel -->
<!-- start-smooth-scrolling -->
<script type="text/javascript" src="/static/home/js/move-top.js"></script>
<script type="text/javascript" src="/static/home/js/easing.js"></script>
<script type="text/javascript">
	jQuery(document).ready(function($) {
		$(".scroll").click(function(event){		
			event.preventDefault();
			$('html,body').animate({scrollTop:$(this.hash).offset().top},1000);
		});
	});
</script>
<!-- start-smooth-scrolling -->
<!-- for bootstrap working -->
	<script src="/static/home/js/bootstrap.js"></script>
<!-- //for bootstrap working -->
<!-- here stars scrolling icon -->
	<script type="text/javascript">
		$(document).ready(function() {
			/*
				var defaults = {
				containerID: 'toTop', // fading element id
				containerHoverID: 'toTopHover', // fading element hover id
				scrollSpeed: 1200,
				easingType: 'linear' 
				};
			*/
								
			$().UItoTop({ easingType: 'easeOutQuart' });
								
			});
	</script>
<!-- //here ends scrolling icon -->
            </div></div>            </div>
</body>

</html>