<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
</head>

<body>
<form id="form1" name="form1" method="post" action="">
  <table width="799" border="1">
    <tr>
      <td width="200" height="50"><a href="/myapp/profile">Shop Profile</a></td>
    </tr>
    <tr>
      <td width="200" height="50"><a href="/myapp/gallery">Shop Gallery</a></td>
    </tr>
    <tr>
      <td width="200" height="50"><a href="/myapp/instru_cat">Add Instrumental Category</a></td>
    </tr>
      <tr>
      <td width="200" height="50"><a href="/myapp/shop_view_category">view Instrumental Category</a></td>
    </tr>
{#    <tr>#}
{#      <td width="200" height="50"><a href="/myapp/add_material">Add Material Category</a></td>#}
{#    </tr>#}
    <tr>
      <td width="200" height="50"><a href="/myapp/add_instruments">Add Instruments</a></td>
    </tr>
      <tr>
      <td width="200" height="50"><a href="/myapp/shop_viewinstrument">View Instruments</a></td>
    </tr>
    <tr>
      <td width="200" height="50"><a href="/myapp/add_materials">Add Materials</a></td>
    </tr>
    <tr>
      <td width="200" height="50"><a href="/myapp/shop_view_material">View Materials</a></td>
    </tr>

    <tr>
      <td width="200" height="50"><a href="/myapp/shop_viewInstrureust">View Instrument Request</a></td>
    </tr>
    <tr>
      <td width="200" height="50"><a href="/myapp/shop_viewconfrmInstrureust">View Confirmed Instrument Request</a></td>
    </tr>
    <tr>
      <td width="200" height="50"><a href="/myapp/shop_viewrejctdInstrurqust">View Rejected Instrument Request</a></td>
    </tr>
    <tr>
      <td width="200" height="50"><a href="/myapp/shop_viewMatreust">View Material Request</a></td>
    </tr>
    <tr>
      <td width="200" height="50"><a href="/myapp/shop_viewconfrmMatreust">View Confirm Material Request</a></td>
    </tr>
    <tr>
      <td width="200" height="50"><a href="/myapp/shop_viewrejctdMatreust">View Rejected Material Request</a></td>
    </tr>
    <tr>
      <td width="200" height="50"><a href="/myapp/add_return_entry">Add Return Entry</a></td>
    </tr>
    <tr>
      <td width="200" height="50"><a href="/myapp/view_payment">View Payment</a></td>
    </tr>
    <tr>
      <td width="200" height="50"><a href="/myapp/complaint">Sent Complaint</a></td>
    </tr>
      <tr>
      <td width="200" height="50"><a href="/myapp/complaint">View Reply</a></td>
    </tr>
    <tr>
      <td width="200" height="50"><a href="/myapp/shop_review">View Reviews</a></td>
    </tr>
  </table>
</form>
</body>
</html>
