<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
</head>

<body>
<form id="form1" name="form1" method="post" action="/myapp/login_post/">
    {% csrf_token %}
  <table width="234" height="93" border="1">
    <tr>
      <td width="162">Username</td>
      <td width="56" colspan="2"><label for="name"></label>
      <input type="text" name="name" id="name" /></td>
    </tr>
    <tr>
      <td height="28">password</td>
      <td colspan="2"><label for="pswrd"></label>
      <input type="password" name="pswrd" id="pswrd" /></td>
    </tr>
    <tr>
      <td><input type="submit"
    name="login" id="login" value="LOGIN" /></td>
    </tr>
      <tr>
          <td><a href="/myapp/institute_signup/">Institute SignUp</a></td>
      </tr>
    <tr>
          <td><a href="/myapp/shop_signup/">Shop SignUp</a></td>
      </tr>
  </table>
</form>
</body>
</html>
