<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
</head>

<body>
<form id="form1" name="form1" method="post" action="">
  <table width="667" border="1">
    <tr>
      <td width="180">Current Password</td>
      <td width="471"><label for="currentpswrd"></label>
      <input type="text" name="currentpswrd" id="currentpswrd" /></td>
    </tr>
    <tr>
      <td>New Password</td>
      <td><label for="newpswrd"></label>
      <input type="text" name="newpswrd" id="newpswrd" /></td>
    </tr>
    <tr>
      <td>Confirm Password</td>
      <td><label for="confirmpswrd"></label>
      <input type="text" name="confirmpswrd" id="confirmpswrd" /></td>
    </tr>
    <tr>
      <td><input type="submit" name="reset" id="reset" value="RESET" /></td>
    </tr>
  </table>
</form>
</body>
</html>
