<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
</head>

<body>
<form id="form1" name="form1" method="post" action="">
  <table width="343" border="1">
    <tr>
      <td width="110" height="31">Name</td>
      <td width="217"><label for="name"></label>
      <input type="text" name="name" id="name" />
      <label for="adrs"></label></td>
    </tr>
    <tr>
      <td>Address</td>
      <td><input type="text" name="adrs" id="adrs" /></td>
    </tr>
    <tr>
      <td>Phone</td>
      <td><label for="phone"></label>
      <input type="text" name="phone" id="phone" /></td>
    </tr>
    <tr>
      <td>Pin</td>
      <td><label for="pin"></label>
      <input type="text" name="pin" id="pin" /></td>
    </tr>
    <tr>
      <td>City</td>
      <td><label for="city"></label>
      <input type="text" name="city" id="city" /></td>
    </tr>
    <tr>
      <td>District</td>
      <td><label for="dist"></label>
      <input type="text" name="dist" id="dist" /></td>
    </tr>
    <tr>
      <td><input type="submit" name="signup" id="signup" value="SignUp" /></td>
    </tr>
  </table>
</form>
</body>
</html>
