<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
</head>

<body>
<form id="form1" name="form1" method="post" action="">
  <table width="836" border="1">
    <tr>
      <td width="51">Sl_No</td>
      <td width="96">Name</td>
      <td width="120">Material Name</td>
      <td width="55">Prize</td>
      <td width="88">Rent Date</td>
      <td width="122">Return Date</td>
      <td width="129">Payment mode</td>
      <td width="123">Total Amount</td>
    </tr>
    <tr>
      <td height="241">&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
    </tr>
  </table>
</form>
</body>
</html>
